.dark
    background-color: #555

.secondary
    background-color: #999

.light
    background-color: #EEE

html
    overflow: hidden

canvas
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: -1